@import "tailwindcss";

@font-face {
  font-family: 'Grotesque';
  src: url('./Fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
  font-display: normal;
  font-style: normal;
}

@theme{
  /* Colors */
  --color-mainbg: #f5f5f5;
  --color-blue: #007DFC;
  --color-border: #DDDDDD;
  --color-subText: #757575;
  --color-buttonh: #00000019;

  /* Blue colors */
  --color-blue2: #E6F2FF;
  --color-blue3: #CCE5FE;
  --color-blue4: #B3D8FE;
  --color-blue5: #99CBFE;
  --color-blue6: #66B1FD;
  --color-blue7: #3397FD;
  --color-blue8: #007DFC;
  --color-blue9: #0064CA;
  --color-blue10: #004B97;
  --color-blue11: #003265;
  --color-blue12: #00264C;
  --color-blue13: #001932;
  --color-blue14: #000D19;

  /* text */
  --text-h1: clamp(1.2em, 4vw, 3.75em);
  --text-h2: clamp(1.2em, 4vw, 3em);
  --text-h3: clamp(1.2em, 4vw, 2.43em);
  --text-h4: clamp(1.2em, 4vw, 1.93em);
  --text-h5: clamp(1em, 4vw, 1.56em);
  --text-h6: clamp(1em, 4vw, 1.25em);
  --text-h7: clamp(1em, 4vw, 1.12em);
  --text-h8: clamp(1em, 4vw, 1em);
  --text-p: 1em;
  --text-small: 0.81em;

  --font-mfont: 'Grotesque', sans-serif;
}

*{
  @apply font-mfont
}

body{
  @apply bg-mainbg
}

.bordersb{
  @apply border-b-border border-solid border-b-[1px]
}

.borders{
  @apply border-border border-solid border-[1px]
}

.bordersr{
  @apply border-r-border border-solid border-r-[1px]
}

.inpad{
  @apply px-[15px]
}

.leftpad{
  @apply pl-[100px]
}

@media (max-width: 850px) {
  .leftpad{
    @apply pl-0
  }
}